body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header,footer {
    background-color: aqua;
}

header.site-title{
    color: red;
}

img#my-image{
    width: 300px;
    height: 400px;
    border: 10px;
    box-shadow: 0px 0px 2px 1px black;
}

li{
    list-style: square;
}

ul :nth-child(odd){
    background: grey;
}

a{
    color:blue;
    text-decoration: none;
    background-color: lightgrey;
    border: 1px solid red;
}

a:hover{
    background-color: yellow;
}

footer{
    margin-top: 50px;
}
